language: node_js

node_js:
  - "lts/*"

addons:
  chrome: stable

cache:
  # cache both npm modules and Cypress binary
  directories:
    - ~/.npm
    - ./client/node_modules
    - ./server/node_modules
    - ~/.cache

jobs:
  include:
    - stage: Test
      env:
        - NODE_ENV=testing
      name: Frontend Tests
      install: cd client && npm ci
      script: npm run test -- --watch=false --no-progress --browsers=ChromeHeadlessCI

    - name: E2E tests
      install: cd server && npm ci && cd ../client && npm ci
      script:
      - cd ../server
      - npm run build
      - npm run start:test &
      - cd ../client
      - npm run cy:verify
      - npm run ci:cy-run

#    - stage: Deploy
#      if: branch = master
#      script: skip     # usually you do not want to rerun any tests
#      deploy:
#        provider: netlify
#        site: ba84f3f4-6438-4553-83e3-f9e8198dd9a1
#        edge: true # opt in to dpl v2
#        dir: "client/dist/"

